* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal
}

body {
    background-color: #B4D4FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 65%;
    height: 100vh;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    height: 12rem;
    width: 270px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.733);
    box-shadow: 2px 4px 4px rgba(0,0,0,0.3);
}


.text-box {
    position: absolute;
    margin-top: 15rem;
    height: 90px;
    width: 260px;
    border-radius: 3px;
    background-color: #EEF5FF;
    border: 2px solid #068FFF;
}

.text-box input {
    padding: 6px;
    border: none;
    margin: 6px;
    background-color: #EEF5FF;
}

.task-card {
    margin-top: 1rem;
    justify-content: space-between;
    display: flex;
    gap: .3rem;
}

.task,
.creat {
    display: flex;
    gap: 7px;
}

.task {
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 4px;
    width: 80px;
    padding: 5px;
}

.icon i {
    color: #40A2E3;
}

.creat {
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 4px;
    padding: 5px;
    color: gray;
}

.icons i {
    background-color: #B5C0D0;
    padding: 1px;
    color: white;
}

.nav {
    padding: .7rem;
    display: flex;
    justify-content: space-between;
}

.head {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.head input {
    width: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.438);
    text-align: center;
    border-radius: 5px;
}

::placeholder {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.lower {
    width: 28%;
    display: flex;
    justify-content: space-around;
    margin: .8rem;
    /* margin-top: 7rem; */
    cursor: pointer;
}

.lower button {
    border: none;
    background-color: rgba(255, 255, 255, 0.103);
}

.lower h6 {
    font-size: 16px;
}

.hide {
    display: none;
}

.new-card{
  background-color: rgba(207, 229, 238, 0.507);
  box-shadow: ;
  padding: 10px;
  border-radius:8px;
  gap: 5px;
  width: 14rem;
  height: 5rem;
  word-break: break-all;
  margin: auto;
  box-shadow: 2px 4px 4px rgba(0,0,0,0.3);

}

.box{
    height: 100px;
    width: 15rem;
    overflow: scroll;
    margin: auto;
}

::-webkit-scrollbar {
    display: none;
  }